* {
   margin: 0;
   padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.input-group {
  margin: 5px 0;
}

h1 {
  margin: 0 !important;
  padding: 0;
}

body {
  background-color: #2B2B2B !important;
  color: #2B2B2B !important;
}

#gmap_canvas {
  height: 100%;
  /*position: relative;*/
}

section {
  width: 960px;
  height: 100%;
  /*background: aqua;*/
  margin: auto;
}
div#content-container {
  /*width: 35%;*/
  height: 100%;
  float: left;
  background-color: #FFF;
}

div#map-container {
  /*margin-left: 15%;*/
  height: 100%;
  /*background: black;*/
}

div#content-top {
  width: 100%;
  height: 210px;
  border-bottom: 5px double #2B2B2B;
  padding: 5px;
}

div#content-bottom {
  width: 100%;
  height: calc(100% - 210px);
}

ul#places-list {
  height: 100%;
}

ul#places-list, 
li.places-entry {
  list-style: none;
  /*background-color: #ddd;*/
  overflow: auto;
  margin: 0;
  padding: 0;
}

li.places-entry {
  height: 120px;
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

li.places-entry:hover {
  background-color: #DAFFFF;
  cursor: pointer;
}

div.entry-content-container {
  height: 100%;
  overflow: hidden;
}

.ellipsis { 
  text-overflow: ellipsis;
}

/*.fake-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}*/

.return-link {
  display: block;
  margin-bottom: 10px;
  float: right;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

img.place-entry-photo {
  width: 100px;
  height: 100px;
}

ul#weekday-hours-list, 
li.hours-entry {
  list-style: none;
  /*background-color: #ddd;*/
  overflow: auto;
}

li.hours-entry {
  padding-left: 20px;
}

div#details-container {
  padding: 15px;
}

img.details-photo {
  max-height: 200px;
}

.title {
  text-align: center;
  color: #2B2B2B;
}

.search-button {
  background-color: #DE1B1B !important;
  border-color: #C50202 !important;
}